.yellow {
  background-color: yellow;
  height: 500px;
  margin: 5px;
}

.red {
  background-color: red;
  height: 200px;
  margin: 5px;
}

.blue {
  background-color: blue;
  height: 290px;
  margin: 5px;
}
