body {
  padding: 10px;
}
.input-group {
  background-color: rgb(37, 119, 9);
  border-radius: 5px;
  height: 100%;
  width: 750px;
  padding: 10px;
  text-align: center;
}

.btn-primary {
  background-color: rgb(14, 38, 6);
}

.button-style {
  padding: 30px;
}
